:root {
    --black:black;
    --white:white;
    --grey:grey;
    --dark:rgb(44, 44, 44);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--white);
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;

}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

/* Header styling */
header {
    display: flex;
    background-color: var(--dark);
    color: var(--white);
    justify-content: space-evenly;
    min-height: 200 px;
    align-items: center;
    padding: 30px 0px;
    font-style: italic;
}

.header h1 {
    display: inline-block;
    font-size: 46px;
    justify-content: start;
    margin-left: 25px;
    color: var(--white);
}

/* Navigation bar */
nav {
    width: 50%;
}

nav ul {
    margin: 20px;
    padding: 15px 15px;
    list-style: none;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    padding: 0px 20px;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
}

nav a:hover {
    background-color: var(--grey);
    color: var(--white);
}

/* Hero styling */
.hero {
    width: 96%;
    margin-bottom: 25px;
    background-size: cover;
    display: flex;
    padding: 20px; 
    background-color: var(--grey);
    margin: 15px 15px;
    border: 6px solid var(--white);
    border-right: 12px;
}

.backgroundImg {
    background-image: url("../images/hero.jpg");
    width: 100%;

}
.topImg {   
    margin: 0 auto;
    width: 18%;
    display: block;
}

.hero p {
    margin: auto;
    display: block;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Side bar styling */

main section {
    padding: 15px 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-left: var(--grey) !important;
}

section h2 {
    display: inline-block;
    text-align: center;
    width: 25%;
    height: auto;
    padding: 15px 15px;
    border-right-style: solid;
    border-right-width: 4px;
}

section p {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

section div {
    display: inline-block;
    width: 65%;
    padding: 15px 15px;
}

section ul {
    list-style-type: none;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

section li {
    padding: 0px 0px 4px 0px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: var(--grey);
    justify-content: space-around;
}

/* Main section styling */
main {
    padding: 30px;
    background-color: var(--black);
}

.container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}

.project-img {
    background-color: var(--grey);
    margin: 10px 10px 10px 0px;
}

.project-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.project-img-large {
    width: 100%;
    height: 25em;
    border: 6px solid var(--white);
    max-width: 100%;
    height: auto;
}

.project-img-small {
    width: 48%;
    height: 25em;
    border: 6px solid var(--white);
    max-width: 100%;
    height: auto;
}

ul li a:hover {
    background-color: var(--grey);
    color: var(--white);
}

.github {
    margin: 10px;
}

/* Footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Source Code Pro', monospace; 
    background-color: var(--black);
    text-align: center;
}

/*
/* Media Queries */
@media (max-width: 1024px) {
    .topImg {
        width: 50%;
        top: 250px;
        left: 400px;
        z-index: 1;
    }

    .hero p{
        width: 100%;
        font-size: smaller;
        top: 535px;
        left: 20px;
        z-index: 1;
    }
    a {
        font-size: 10px;
    }

    a.github {
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    .header h1 {
        font-size: 16px;
    }

    .section {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    body {
        overflow: auto;
    }

    section h2 {
        font-size: 12px;
    }

    nav a {
        font-size: 6px;
    }
    
    nav a:hover {
        background-color: var(--grey);
        color: var(--white);
    }

    section p {
        font-size: 6px;
    }
    
    a {
        font-size: 10px;
    }
    a.github {
        font-size: 8px;
    }

    .topImg {
        width: 50%;
        top: 45%;
        left: 35%;
        z-index: 1;
    }
    .hero p{
        width: 100%;
        font-size: smaller;
        top: 130%;
        left: 0;
        z-index: 1;
    }
} 

@media (max-width: 320px) {

    section p {
        font-size: 8px;
        overflow: auto;
    }

    section h2 {
        font-size: 12px;
        overflow: auto;
    }

    section ul {
        font-size: 6px;
        overflow: auto;
    }

    div p {
        font-size: 6px;
        overflow: auto;
    }

    a {
        font-size: 6px;
        overflow: auto;
    }
    a.github {
        font-size: 6px;
    }

    .footer {
        font-size: 6px;
    }
} 

/* TO THE TOP button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--dark); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }